<!-- Footer -->
<footer
  class="page-footer font-small blue"
  style="bottom: 0px; position: relative"
>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright:
    <a href="https://osf.digital/"> OSF Global Services</a>
  </div>
</footer>
<!-- Footer -->
