<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="container">
        <div class="row">
          <!-- username and email  -->
          <div class="productDiv col-sm-12 col-md-5 col-lg-5">
            <div class="name"><%= user %></div>
            
              <div class="E-mail">
                <div class="email"<%- user %>> </div>
              </div>
            
          </div>
      <p><button>Contact</button></p>
    </div>
</body>
</html>