<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
      <a href="/auth/signin">Sign In</a>
    </li>
  </ol>
</nav>
<div id="registerForm" class="col-sm-12 col-md-3 col-lg-3">
  <h1 id="formHeader">Login</h1>
  <form action="/auth/signin" method="POST">
    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email" />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
    <p>Create an account</p>
    <a id="registerBtn" href="/auth/signup" class="btn btn-secondary"
      >Sign Up</a
    >
  </form>
</div>
<button onclick="topFunction()" id="scrollBtn" title="Go to top">SCROLL TO TOP</button>