.breadcrumb {
  font-size: 12px;
  background-color: white;
  text-decoration: underline;
}

.categoryHeader {
  padding-bottom: 50px;
}

.separate {
  border-bottom: 2px solid black;
  margin: 20px 0px 20px 0px;
  width: auto;
}

html,
body {
  height: 100%;
  position: relative;
  overflow: auto;
}
img {
  border: 2px #374034 solid;
  width: auto;
  max-height: 100%;
}

.navbar-brand {
  font-weight: bold;
  color: crimson !important;
}

h3 {
  text-align: center;
  color: black;
}

h6 {
  margin-top: 5px;
}

div p {
  text-align: center;
}


.breadcrumb a {
  color: black;
}

.vertical_divider {
  margin: 4px 4px;
  width: 1px;
  height: 35px;
  background-color: gray;
}


/*CATEGORY PAGES*/

.categoryHeader {
  padding-bottom: 70px;
}

.categoryHeader h3 {
  font-weight: bolder;
  color: crimson;
  font-family: monospace;
  font-size: 35px;
}

/*MAIN PAGE */
.mainContainer {
  margin: auto;
  text-align: center;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}

.mainContainer img {
  max-width: 100%;
  min-width: 90%;
  max-height: 90%;
  min-height: 90%;
  height: auto;
  border-radius: 5px;
}

#genderImg {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  height: 200px;
  width: 789x;
}

/* PRODUCTS */
.productDiv {
  padding-top: 20px;
  padding-bottom: 50px;
}

.productInfo {
  padding-top: 10px;
  padding-bottom: 30px;
}

.productInfo .productShortDescription {
  position: relative;
  color: darkslategray;
  display: block;
  line-height: normal;
  font-size: 14px;
  padding: 40px 0px 15px 0px;
}

.productInfo .productLongDescription {
  position: relative;
  color: darkslategray;
  display: block;
  line-height: normal;
  padding: 20px 0px 15px 0px;
}

.productInfo .priceInfo {
  position: relative;
  line-height: normal;
  color: darkslategray;
  margin-top: 10px;
}

.currency {
  color: gray;
  font-size: 14px;
  font-family: Georgia;
}

.price,
.currency {
  display: inline;
  margin-top: 10px;
}

.productName {
  font-weight: bold;
  color: black;
  width: 500px;
  padding-bottom: 5px;
  font-size: large;
}

.custom-select {
  float: left;
  margin-left: 10px;
  width: 80px;
}

.productPriceInfo {
  margin-top: 30px;
}

.productPrice {
  margin-top: 5px;
}

.productImageContainer {
  transition: transform 0.2s;
}

.productImageContainer:hover {
  transform: scale(1.5);
}

a:hover {
  text-decoration: none;
}

/* ERROR PAGE */
#errorpng {
  max-width: 50%;
  margin-left: 23%;
  border-color: white !important;
}

#errorbtn {
  margin-left: 42%;
}

/* SCROLL BUTTON */
#scrollBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#scrollBtn:hover {
  background-color: #555;
}

/* SIGN UP AND SIGN IN PAGE */
#registerForm {
  margin: 20px auto;
  border: lightgrey solid 1px;
  border-radius: 3%;
  padding: 10px;
}

#registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#regBtnNav {
  background-color: #343a40;
  text-align: center;
  text-decoration-color: #555;
}

#formHeader {
  border: lightslategray 1px solid;
  border-radius: 5px;
  color: darkslategray;
  text-align: center;
  padding-bottom: 4px;
  font-size: xx-large;
}
